	  		<div class="container" style="margin-top:60px">
		    
			<h1 style="margin-top:60px">原料管理</h1>
			
			<table class="table table-hover">
				<thead>
				<tr>
				<th scope="col">原料編號</th>
				<th scope="col">原料名稱</th>
				<th scope="col">剩餘存量比例</th>
				<th scope="col">安全存量</th>
				<th scope="col">預計再訂購日</th>
				</tr>
				</thead>
			<tbody>
				{{#each ingredient}}
					<tr>
						<th scope="row">{{ingredient_id}}</th>
						<td>{{ingredient_name}}</td>
						<td>{{ingredient_inventory}}</td>
						<td>{{ingredient_safe_inventory}}</td>
						<td>{{plan_to_purchase_date}}</td>
					</tr>
				{{/each}}
			</tbody>
			</table>
			
			{{#each out_of_inventory}}
			<div class="alert alert-danger" role="alert">
			  (注意) {{ingredient_name}}存貨數量即將不足，請於{{plan_to_purchase_date}}前向{{supplier_name}}訂購。
			</div>
			{{/each}}
			<h1 style="margin-top:60px">補貨</h1>
			
			<form>
			  <div class="form-group">
				<label for="exampleFormControlSelect1">原料名稱</label>
				<select class="form-control" id="exampleFormControlSelect1">
				  {{#each ingredient_kind}}
					<option>{{ingredient_name}}</option>
				  {{/each}}
				</select>
			  </div>
			  <div class="form-group">
				<label for="exampleFormControlSelect1">單價</label>
				<input type="text" class="form-control" id="unit_cost" placeholder="unit_cost">
			  </div>
			  <div class="form-group">
				<label for="exampleFormControlSelect1">數量</label>
				<input type="text" class="form-control" id="purchase_quantity" placeholder="purchase_quantity">
			  </div>
			  <div class="form-group">
				<label for="exampleFormControlSelect2">購買日期</label>
				<input type="date" class="form-control" id="purchase_date" placeholder="purchase_quantity">
			  </div>
			  <div class="form-group">
				<label for="exampleFormControlTextarea1">訂購廠商</label>
				  <select class="form-control" id="supplier">
				  {{#each supplier}}
					<option>{{supplier_name}}</option>
				  {{/each}}
				</select>
			  </div>
			</form>
		</div> <!-- /container -->
