<div class="container" style="margin-top:60px">

    <h1 style="margin-top:60px">原料管理</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">原料名稱</th>
                <th scope="col">剩餘存量</th>
                <th scope="col">安全存量</th>
            </tr>
        </thead>
        <tbody>
            {{#each ingredients}}
            <tr>
                <td>{{name}}</td>
                <td>{{inventory}}</td>
                <td>{{safeInventory}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    {{#each outOfInventoryIngredients}}
    <div class="alert alert-danger" role="alert">
        (注意) {{name}}存貨數量即將不足，請立即向{{supplier}}訂購。
    </div>
    {{/each}}
	
	{{#each closeToROPIngredients}}
    <div class="alert alert-warning" role="alert">
        (注意) {{name}}存貨數量即將於{{dayRatio}}天內低於安全存量，請適時監控。
    </div>
    {{/each}}
    <h1 style="margin-top:60px">補貨</h1>

    <form>
        <div class="form-group">
            <label for="exampleFormControlSelect1">原料名稱</label>
            <select class="form-control" id="exampleFormControlSelect1">
                {{#each ingredientKinds}}
                <option id="{{id}}">{{name}}</option> 
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">單價</label>
            <input type="text" class="form-control" id="unit_cost" placeholder="unit_cost">
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">數量</label>
            <input type="text" class="form-control" id="purchase_quantity" placeholder="purchase_quantity">
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect2">購買日期</label>
            <input type="date" class="form-control" id="purchase_date" placeholder="purchase_quantity">
        </div>
        <a href="#" class="btn btn-primary btn-primary">
            <span class="glyphicon glyphicon-send"></span> 送出</a>
    </form>
</div>
<!-- /container -->